body, html {
	height: 100%;
	width: 100%;
	margin-top:25px;
	font-size: 17px;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

#blog-title {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 64px;
	font-weight: 800;
	color: white;
}



.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/intro-bg_blue1.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}
.network-name-form {
	/*text-transform: uppercase;*/
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 200px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	ul.banner-social-buttons {
		float: center;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
		text-align: center;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 20px 0;
}

p.copyright {
	margin: 15px 0 0;
}

.full-width-image-1 {
	background: url(http://lorempixel.com/g/1920/500/) no-repeat center center;
	background-size: cover;
	text-align: center;
	padding: 100px 0;
	height: 250px;
}

.post-bg {
	background: url(../img/food.png) repeat-x center center;
	/*background-size: cover;*/
	text-align: center;
	padding: 100px 0;
	/*height: 250px;*/

}

.logo {
	max-width: 600px;
	width: 100%;
	padding: 0 20px;
}


#contact-form {
	margin-top: 20px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-control-kockica {
	border: 1px solid #gray;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	font-size: 13px;
	font-weight: 700;
	color: #333;
}


}

.error {
	color: red;
	font-size: 18px;
	font-family: "Lato";
	font-weight: normal;
	
}

.flash-message {
	font-family: "Lato";
	font-weight: normal;
	background-color: #e2e2e2;
	color: gray;
	text-align: center;
	padding: 10px;

}

#ask {
	padding-bottom: 10px;
}
.list-inline {
	padding-left: 0;
	padding-top: 10px;
	list-style: none;
	text-align: center;
}

.navbar-default,
.intro-header,
.container {
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
}

.sadrzaj {
	margin-top: 40px;
	padding: 0px 20px;

}


}

